@inherits LayoutComponentBase

<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>
    <AppBar OnDrawerToggle="@ToggleDrawer" />
    <NavMenu @bind-IsOpen="@_drawerOpen" />
    <MudMainContent>
        <div class="content">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
    private bool _drawerOpen = false;

    private void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }
}
